h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 5px;
}

h4 {
  text-align: center;
  padding: 5px;
}
.box {
  width: 60% !important;
  background-color: white;
  border-radius: 2%;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-no-bg {
  width: 60% !important;
  background-color: white;
  border-radius: 2%;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 12px;
}

.parent {
  background-image: url("../img/4453736.jpg");
  background-size: cover;
}

.parent-height-100 {
  background-image: url("../img/4453736.jpg");
  background-size: cover;
  height: 100vh;
}

.texto-negro {
  color: black;
}
