h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 5px;
}

h4 {
  text-align: center;
  padding: 5px;
}
.box {
  width: 60% !important;
  background-color: white;
  border-radius: 2%;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 80vh;
}

.box-no-bg {
  width: 60% !important;
  background-color: white;
  border-radius: 2%;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 80vh;
}

label {
  font-size: 12px;
}

.parent {
  background-image: url("../img/4453736.jpg");
  background-size: cover;
}

body {
  background-image: url("../img/4453736.jpg");
  background-size: cover;
}

.texto-negro {
  color: black;
}

.texto-grande {
  color: black;
  font-size: 35px;
}

.logo-parent {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 30%;
  height: 30%;
}

.datos-restaurante {
  padding: 10px;
  margin-bottom: 20px;
}

.foto {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.item {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
}

.tarjetas-padre {
  padding: 0px 20px;
}

.titulo {
  margin-top: 20px;
  background-color: white;
  width: 20%;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.tutorial-imagen {
  width: 50%;
  height: 50%;
}

.perfil {
  width: 30%;
  height: 30%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}

.info-personal {
  margin-left: 20px;
}

.pos {
  margin-left: 5px;
}
